
.rentDiv {
  background-color: white;
  border: 0.5px solid #6b7da0;
  border-top: 2em solid #6b7da0;
  margin: 2em;
}

.saleDiv {
  background-color: white;
  border: 0.5px solid #7597a3;
  border-top: 2em solid #7597a3;
  margin: 2em;
}

#submitButton {
  margin-top: 1.5em;
}

.rent {
  margin-top: -1.7em;
  padding-left: 1em;
  padding-right: 1em;
  /*float: right;*/
  color: white;
  font-family: 'Droid Sans', sans-serif;
}

.details {
  /*float: right;*/
  padding-left: 1em;
  margin-top: -1em;
  color: gray;
  font-family: 'Droid Sans', sans-serif;
}

.price {
  display: inline-block;
  float: right;
  padding-right: 1em;
  margin-top: -2.15em;
  color: white;
}

h1 {
  padding-top: .5em;
  padding-bottom: .5em;
  color: gray;
  font-family: 'Lobster', cursive;
  font-size: 50px;
}

.addPropertyDiv {
  color: gray;
  margin-top: 3em;
}

.row {
  margin-top: 2em;
}
